h1,.btn-div{
    text-align: center;
}

h1{
    font-size: 2.5em;
    color: white;
}

.counter{
    width: 15em;
    height: 15em;
    margin : auto;
    background-color: darkslateblue;
    padding: 8em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px lightgray;
    margin-top: 3em;
}

.counter .btn-primary{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
