.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,.btn-div{
    text-align: center;
}

h1{
    font-size: 2.5em;
    color: rgb(49, 196, 141);
}

.counter{
    width: 15em;
    height: 15em;
    background-color: rgb(51, 51, 61);
    padding: 8em;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgb(51, 51, 61);
}

.btn-primary{
    background-color: rgb(49, 196, 141);
}